<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
<style type="text/css">
.user-cent{
        padding: 0px 0px;
height: 250px;
}
    .logsbox{
        background: #f5f5f5;
    padding: 17px;
    margin-bottom: 8px;
    }
    .logsdesc{
        margin-top: 20px;
    }
    .logslevel{
        margin-top: 7px;
        margin-left: 7px;
    }
    .logslevel span{
        color: #fff; 
        background: #2dbc9c;
        padding: 3px 10px;
        border-radius: 4px;
    }
    .logs{
        height: 250px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .headimg{
        text-align: center;
    }
    .headimg img{
        height: 48px;
        border-radius: 50%;
    }
</style>
    <div class="col-xs-12 col-sm-12 " style="
    padding: 0px;
">
        <div class="col-xs-12 col-sm-4 user-cent">
            <div style="height: 60px;
    width: 100%;
    background: #f5f5f5;
    padding-top: 5px;">
                <div class="col-xs-12 col-sm-2 headimg">
                    <img src="{$user_row.image}">
                </div>
                <div class="col-xs-12 col-sm-10 " style="padding: 8px 12px;">
                    <b class="col-xs-12 col-sm-12">{$user_row.username}</b>
                    <b class="col-xs-12 col-sm-12"> <i class="fa fa-phone fa-fw"></i>{$user_row.mobile}</b>
                </div>
            </div>
            <div style="height: 190px;width:100%;
    overflow: scroll;
    overflow-x: hidden;">
                <table class="table table-dark" style="ma    font-size: 12px;">
                    <thead>
                        <tr>
                            <th scope="col">应用名称</th>
                            <th scope="col">开始时间</th>
                            <th scope="col">结束时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="info_row" id="vo"}
                            <tr>
                                <th scope="row">{$authList[$vo.fk_id]}</th>
                                <td>{$vo.create_dt|date="Y-m-d",###}</td>
                                <td>{$vo.validity_dt|date="Y-m-d",###}</td>
                            </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>

                
        </div>
        <div class="col-xs-12 col-sm-8 logs">
            <div class="col-xs-12 col-sm-12 logsbox">
                <div class="col-xs-12 col-sm-8">
                   <b>回访时间：2019-04-21 23:21:59</b> 
                </div>
                <div class="col-xs-12 col-sm-4">
                   <b>回访人员：luoio</b> 
                </div>
                <div class="col-xs-12 col-sm-6 logslevel">
                    <span> <i class="fa fa-tag"></i> 
                    马上续费
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 logsdesc">
                        里面有几个细节处理，可以好好学一下。这个客户之前非常冷淡，不像是意愿很强的，但是回访就有希望。首先是昨晚客户就说要买，但是没下单，李腾就直接问对方发票怎么处理（我之前跟大家说过的假定成交法），然后客户又说没法手机支付，本来我们可以直接走支付宝或者微信，李腾想单子都走线上，就切换到客户后台给二维码让客户操作的。
                </div> 
            </div>
            <div class="col-xs-12 col-sm-12 logsbox">
                <div class="col-xs-12 col-sm-8">
                   <b>回访时间：2019-04-21 23:21:59</b> 
                </div>
                <div class="col-xs-12 col-sm-4">
                   <b>回访人员：luoio</b> 
                </div>
                <div class="col-xs-12 col-sm-6 logslevel">
                    <span> <i class="fa fa-tag"></i> 
                    马上续费
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 logsdesc">
                        里面有几个细节处理，可以好好学一下。这个客户之前非常冷淡，不像是意愿很强的，但是回访就有希望。首先是昨晚客户就说要买，但是没下单，李腾就直接问对方发票怎么处理（我之前跟大家说过的假定成交法），然后客户又说没法手机支付，本来我们可以直接走支付宝或者微信，李腾想单子都走线上，就切换到客户后台给二维码让客户操作的。
                </div> 
            </div>
            <div class="col-xs-12 col-sm-12 logsbox">
                <div class="col-xs-12 col-sm-6">
                   <b>回访时间：2019-04-21 23:21:59</b> 
                </div>
                <div class="col-xs-12 col-sm-6">
                   <b>回访人员：luoio</b> 
                </div>
                <div class="col-xs-12 col-sm-6 logslevel">
                    <span> <i class="fa fa-tag"></i> 
                    马上续费
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 logsdesc">
                        里面有几个细节处理，可以好好学一下。这个客户之前非常冷淡，不像是意愿很强的，但是回访就有希望。首先是昨晚客户就说要买，但是没下单，李腾就直接问对方发票怎么处理（我之前跟大家说过的假定成交法），然后客户又说没法手机支付，本来我们可以直接走支付宝或者微信，李腾想单子都走线上，就切换到客户后台给二维码让客户操作的。
                </div> 
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-desc" class="form-control " rows="5" name="row[desc]" cols="50"></textarea>
        </div>
    </div>
    

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
